{% extends "home/index.html" %}
{% load static %}
{% block FinalProject_content %}

<h2>Sebastian Bertolotti</h2>
<hr>
<a> - Nació en Argentina en el año 1980</a><br>
<a> - Sebastian es Técnico electrónico recibido en el Insituto San José</a><br>
<a> - Estudios universitario: Analista de Sistemas egresado de la Universidad Argentina de la Empresa (UADE) en el año 2017</a><br>
<a> - Actualmente se desempeña en el area de QA</a><br>
<a> - Hobbies: carpintería - deportes acuáticos y longboard</a>

{% endblock %}