{% extends "home/index.html" %}
{% load static %}
{% block FinalProject_content %}

<h2>Detalle del Estudio</h2>
<hr></hr>
<p><h3>Universidad: {{ estudio.universidad }}</h3></p>
<p><h4>Inicio: {{ estudio.anio_inicio }}</h4></p>
<p><h4>Titulo: {{ estudio.titulo }}</h4></p>
<p><h4>Finalizado: {{ estudio.finalizado }}</h4></p>
<h4>Descripción:</h4>
<p><textarea readonly rows="7" cols="90" >{{ estudio.universidad }}</textarea></p>
<p><a class="btn2 btn-primary" href="{% url 'estudio:estudio-list' %}">Regresar a la lista de estudios</a></p>
{% endblock %}